In [12]:
import os
import pandas as pd

HOUSING_PATH = "/home/carlos/Documentos/Informatica/Clase_19/nuevo/Preprocesamiento/"

def load_housing_data(housing_path=HOUSING_PATH):
    csv_path = os.path.join(housing_path, "housing.csv")
    return pd.read_csv(csv_path)
# Call the function to fech the data 
load_housing_data()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [13]:
housing = load_housing_data() # Guardamos la data en la variable housing
housing.head() # MÃ©todo del DataFrame de pandas que permite ver las cinco filas superiores

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [14]:
housing.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [15]:
housing = load_housing_data()
housing.info() # MÃ©todo del DataFrame de pandas que permite ver una descripciÃ³n rÃ¡pida de los datos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   longitude           20640 non-null  float64
 1   latitude            20640 non-null  float64
 2   housing_median_age  20640 non-null  float64
 3   total_rooms         20640 non-null  float64
 4   total_bedrooms      20433 non-null  float64
 5   population          20640 non-null  float64
 6   households          20640 non-null  float64
 7   median_income       20640 non-null  float64
 8   median_house_value  20640 non-null  float64
 9   ocean_proximity     20640 non-null  object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

In [16]:
housing.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
6467,-118.05,34.10,30.0,2143.0,427.0,1107.0,416.0,4.2321,252200.0,INLAND
10881,-117.89,33.71,24.0,4365.0,804.0,2663.0,753.0,4.5814,233300.0,<1H OCEAN
9045,-118.13,34.68,28.0,718.0,124.0,347.0,121.0,4.0250,102600.0,INLAND
14441,-117.25,32.81,32.0,2402.0,551.0,1020.0,532.0,3.3942,307400.0,NEAR OCEAN
1307,-121.83,37.99,23.0,1970.0,296.0,935.0,279.0,4.4853,145900.0,INLAND

In [19]:
import numpy as np

# NumPy es una librerÃ­a de Python especializada en el cÃ¡lculo numÃ©rico y el anÃ¡lisis de datos, especialmente para un gran volumen de datos


#
## la siguiente funciÃ³n divide el test de datos en un conjunto de prueba y otro de entrenamiento
# @data: el set de datos
# @test_ratio: porciento del conjunto de instancias aleatorias seleccionadas (por lo general el 20% de los datos
# o menos si el conjunto es muy grande)
#

def split_train_test(data, test_ratio):
    shuffled_indices = np.random.permutation(len(data)) # realiza una nueva distribuciÃ³n aleatoria de la data. @len(data) es longitud de la data
    print(shuffled_indices)
    test_set_size = int(len(data) * test_ratio)# producto de la longitud de la data por la fracciÃ³n de la data (generalmente 20%)
    test_indices = shuffled_indices[:test_set_size] # Los datos organizados aleatoriamente se dividen (slice 20%) desde 0 hasta el valor de test_set_size
    train_indices = shuffled_indices [test_set_size:] #Los datos organizados aleatoriamente se dividen (slice 80%) desde test_set_size hasta el valor final
    return data.iloc[train_indices], data.iloc[test_indices] #.iloc es un mÃ©todo de Pandas utilizado para la indexaciÃ³n basada en ubicaciones de nÃºmeros enteros. Le permite seleccionar filas y columnas por sus posiciones enteras

In [20]:
#longitud del conjunto de entrenamiento
len(train_set)

NameError: name 'train_set' is not defined